@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/learn/modules/deploy-run-container-app-service/">deploying ASP.NET web app Dcoker image with Azure</a>.</p>
    <p>Using Webhooks to check for automatic docker image publish using Docker Pull</p>
    <p>Using Webhooks - Push webapplicationmvc:2.2</p>
</div>
